@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap');

/* ---------------- VARIAVEIS DE CSS --------------- */
:root{
--header-height: 3.5rem;

/* -----------------------CORES */
--hue: 14;
--primeira-cor: hsl(var(--hue), 91%, 54%);
--primeira-cor-alt: hsl(var(--hue), 91%, 40%);
--titulo-cor: hsl(var(--hue), 4%, 100%);
--titulo-cor-header: hsl(3, 84%, 41%);
--texto-cor: hsl(var(--hue), 4%, 85%);
--texto-cor-light: hsl(var(--hue), 4%, 55%);
--body-cor: linear-gradient(90deg, hsl(3, 84%, 41%) 0%, hsl(1, 42%, 26%) 100%);
--body-cor-header: hsl(var(--hue), 4%, 100%);
--container-cor:linear-gradient(136deg, hsl(3, 84%, 36%) 0%, hsl(1, 42%, 21%) 100%);

/* ------------------------- FONTES */
--body-font:'Poppins', sans-serif;
--biggest-font-size: 2rem;
--h1-font-size: 1.5rem;
--h2-font-size: 1.25rem;
--h3-font-size: 1rem;
--normal-font-size: .938rem;
--small-font-size: .813rem;
--smaller-font-size: .75rem;

/* ----------------------------- TOM DA FONTE */
--font-medium: 500;
--font-semi-bold: 600;
--font-black: 900;

/* --------------------------------- MARGIN BOTTOM */
--mb-0-25: .25rem;
--mb-0-5: .5rem;
--mb-0-75: .75rem;
--mb-1: 1rem;
--mb-1-5: 1.5rem;
--mb-2: 2rem;
--mb-2-5: 2.5rem;

/* ------------------------------- Z INDEX */
--z-tooltip:10;
--z-fixed:100;
}

/* ----------- PARTE RESPONSIVA DO SITE ----------- */
@media screen and (min-width: 992){
 :root{

    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
      }      
}

/* ---------------------- BASE */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background: var(--body-cor);
    color: var(--texto-cor);
}
.body__acesso{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background: var(--body-cor);
    color: var(--texto-cor);
}

.body__login{
    margin: 0;
}

h1,h2,h3,h4{
    color: var(--titulo-cor);
    font-weight: var(--font-semi-bold);
    text-align: center;
}

.span_qtdcontas{
    font-size: var(--h2-font-size);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

button,input{
    border: none;
    outline: none;
}
button{
    cursor: pointer;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

.section{
    padding: 4.5rem 0 2rem;
}

.section__title{
    font-family: var(--h2-font-size);
    font-size: var(--normal-font-size);
}

/* ---------------- CLASSE DE CSS REUTILIZAVEIS */

.section{
    padding: 4.5rem 0 2rem;
}

.section__title{
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2);
    text-align: center;
}

/* -------------- LAYOUT */

.container{
max-width: 968px;
margin-left: var(--mb-1-5);
margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
}

.main{
     overflow: hidden; /*<--- para animação */
}

/* ------ HEADER */
.header{
    width: 100%;
    background:var(--body-cor-header);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

/* -------------- BARRA DE NAVEGAÇÃO */
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: var(--font-medium);
}

.nav__logo-img{
    width: 1.25rem;
}

.nav__link,.nav__logo,.nav_toggle,.nav__close{
    color:var(--titulo-cor-header);
}

.nav__toggle{
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 767px){
    .nav__menu{
        position: fixed;
        width: 100%;
        background: var(--body-cor-header);
        top: -150%;
        left: 0;
        padding: 3.5rem 0;
        transition: .4s;
        z-index: var(--z-fixed);
        border-radius: 0 0 1.5rem 1.5rem;
    }
}

.nav__img{
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

.nav__close{
    font-size: 1.8rem;
    position: absolute;
    top: .5rem;
    right: .7rem;
    cursor: pointer;
}

.nav__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
}

.nav__link{
    text-transform: uppercase;
    font-weight: var(--font-black);
    transition: .4s;
}

.nav__link:hover{
    color: var(--texto-cor);
}


/* ---------------- MOSTRAR MENU */

.show-menu{
    top: 0;
}

/* -------------------- PAGINA INICIAL */

.paginainicial__content{
    row-gap: 1.5rem;
}

.paginainicial__group{
    display: grid;
    position:relative;
    padding-top: 2rem;
}

.paginainicial__img{
    margin-top: 2rem;
    height: 250px;
    justify-self: center;
    animation: translate 2s;
    animation-iteration-count: infinite;
}

@keyframes translate {
    from{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-1rem);

    }
    to{
        transform: translateY(0);
    }
}

.paginainicial__indicator{
    width: 8px;
    height: 8px;
    background-color: var(--titulo-cor);
    border-radius: 50%;
    position: absolute;
    top: 7rem;
    right: 2rem;
}

.paginainicial__indicator::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 48px;
    background-color: var(--titulo-cor);
    top: -3rem;
    right: 45%;
}

.paginainicial__detalhes-img{
    margin-top: .75rem;
    position: absolute;
    right: .5rem;
}

.paginainicial__detalhes-titulo,
.paginainicial__detalhes-subtitulo{
    display: block;
    font-size: var(--small-font-size);
    text-align: right;
}

.paginainicial__subtitulo{
    font-size: var(--h3-font-size);
    text-transform: uppercase;
    margin-bottom: var(--mb-1);
}

.paginainicial__titulo{
    font-size: var(--biggest-font-size);
    font-weight: var(--font-black);
    line-height: 109%;
    margin-bottom: var(--mb-1);
}

.paginainicial__descricao{
    margin-bottom: var(--mb-1);
}

.paginainicial__arrowabaixo{
    text-align: center;
    margin-bottom: var(--mb-1);
    animation: arrow 2s;
    animation-iteration-count: infinite;
}
@keyframes arrow{
    from{
        transform: translateY(0);
    }
    50%{
        transform: translateY(.7rem);
    }
    to{
        transform: translateY(0);
    }
}
.paginainicial__buttons span i{
    animation: leftarrow 2s;
    animation-iteration-count: infinite;
}
@keyframes leftarrow{
    from{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-.7rem);
    }
    to{
        transform: translateX(0);
    }
}

.paginainicial__buttons{
    display: flex;
    justify-content: space-between;
}

.paginainicial__buttons2{
    display: flex;
    justify-content: center;
}

.paginainicial__buttons span{
    text-align: center;
}

/* --------------SWIPER */

.swiper-pagination{
    position: initial;
    margin-top: var(--mb-1);
}

.swiper-pagination-bullet{
    width: 5px;
    height: 5px;
    background-color: var(--titulo-cor);
    opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 .5rem;
}

.swiper-pagination-bullet-active{
    width: 1.5rem;
    height: 5px;
    border-radius: .5rem;
}

/* ------------------ BOTOES */

.button{
    display: inline-block;
    background-color: var(--primeira-cor);
    color: var(--titulo-cor);
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .3s;
}

.button:hover{
    background-color: var(--primeira-cor-alt);
}

.button__icon{
    font-size: 1.25rem;
}

.button--ghost{
    border: 2px solid;
    background-color: transparent;
    border-radius: 3rem;
    padding: .75rem 1.5rem;
    color: hsl(3, 84%, 36%);
}

.button--ghost:hover{
    color: white;
    background-color: hsl(3, 84%, 41%);
}

.button--link{
    color: var(--titulo-cor);
}

.button--flex{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
}

/* ---------------- PERSONAGENS */

.personagens__container{
    grid-template-columns: repeat(2,1fr);
    gap: 1rem 2rem;
}

.personagens__data{
    text-align: center;
}

.personagens__img{
    height: 220px;
    width: 220px;
    margin-top: var(--mb-0-75);
    margin-bottom: var(--mb-0-75);
    transition: .3s;
}

.personagens__title{
    margin-bottom: var(--mb-0-25);
}

.personagens__data:hover .personagens__img{
    transform: translateY(-.5rem);
}

.personagens__data .button{
    background-color: transparent;
    border: 1px solid white;
}

.personagens__data .button:hover{
    background-color: var(--primeira-cor);
}

.personagens__descricao{
    margin-bottom: var(--mb-0-5);
}

.containerLogin{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
}
.containerCadastro{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
}

.faixa-borda{
    border-top: 2px solid hsl(3, 84%, 41%);
}

.containerLogin .divLogin{
    background-color: #ffffff;
    height: 600px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 3px 30px rgba(31,43,58,.35);
    margin-top: var(--mb-1);
    margin-bottom: var(--mb-1);
}
.containerCadastro .divCadastro{
    background-color: #ffffff;
    height: 964px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 3px 30px rgba(31,43,58,.35);
    margin-top: var(--mb-1);
    margin-bottom: var(--mb-1);
}
.containerLogin .divLogin img{
    height: 180px;
    width: 300px;
}
.containerCadastro .divCadastro img{
    height: 180px;
    width: 300px;
}
.containerLogin .divLogin div{
    display: flex;
    flex-direction: column;
    padding: 8px;
}
.containerCadastro .divCadastro div{
    display: flex;
    flex-direction: column;
    padding: 8px;
}
.containerLogin .divLogin div span{
    color: hsl(3, 84%, 41%);
    padding: 5px;
    font-size: 20px;
}
.containerCadastro .divCadastro div span{
    color: hsl(3, 84%, 41%);
    padding: 5px;
    font-size: 20px;
}

.containerLogin .divLogin span{
    margin: var(--mb-1);
    color: #526484;
}
.containerCadastro .divCadastro span{
    margin: var(--mb-1);
    color: #526484;
}

.containerLogin .divLogin span a{
    color: hsl(3, 84%, 41%);
    padding: 5px;
    transition: .7s;
    border-radius: 15px;
}

.containerCadastro .divCadastro span a{
    color: hsl(3, 84%, 41%);
    padding: 5px;
    transition: .7s;
    border-radius: 15px;
}

.containerLogin .divLogin span a:hover{
    color: white;
    background-color: hsl(3, 84%, 41%);
    padding: 5px;
}

.containerCadastro .divCadastro span a:hover{
    color: white;
    background-color: hsl(3, 84%, 41%);
    padding: 5px;
}

.containerLogin .divLogin div input{
    box-shadow: 0 5px 10px rgba(31,43,58,.40);
    border: 1px solid #dbdfea;
    border-radius: 8px;
    width: 330px;
    padding: 8px;
    font-size: 15px;
    height: 50px;
}

.containerCadastro .divCadastro div input{
    box-shadow: 0 5px 10px rgba(31,43,58,.40);
    border: 1px solid #dbdfea;
    border-radius: 8px;
    width: 370px;
    padding: 8px;
    font-size: 15px;
    height: 50px;
}
.containerLogin .divLogin div input:focus{
    border: 1px solid hsl(3, 84%, 41%);
    transition: .4s;
}

.containerCadastro .divCadastro div input:focus{
    border: 1px solid hsl(3, 84%, 41%);
    transition: .4s;
}
.containerLogin .divLogin div .btn__entrar{
    background-color: hsl(3, 84%, 41%);
    border: none;
    padding: 10px;
    width: 330px;
    border-radius: 15px;
    color: white;
    transition-duration: 0.7s;
    margin-top: 10px;
    opacity: 0.5;
}
.containerCadastro .divCadastro div .btn__cadastrar{
    background-color: hsl(3, 84%, 41%);
    border: none;
    padding: 10px;
    width: 370px;
    border-radius: 15px;
    color: white;
    transition-duration: 0.7s;
    margin-top: 10px;
    opacity: 0.5;
}
.containerLogin .divLogin div .btn__entrar:hover{
    opacity: 1;
    background-color: hsl(3, 84%, 41%);
    color: white;
}

.containerCadastro .divCadastro div .btn__cadastrar:hover{
    opacity: 1;
    background-color: hsl(3, 84%, 41%);
    color: white;
}

.select__personagem{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #eeeeee;
    background-position: 200px center;
    width: 270px;
    height: 40px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgb(31 43 58 / 40%);
    font-family: var(--body-font);
    transition: .3s
}

.containerCadastro .divCadastro .div__perso {
    display: flex;
    flex-direction: column;
    padding: 8px;
    align-items: center;
}

.acesso__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.acesso__selecione{
    margin-top: 150px;
}

.acesso__cards{
    display: flex;
    gap: .5rem;
}

.acesso__cards .acesso_cardspersonagem a img{
    text-decoration: none;
    transition: .3s;
}

.acesso__cards .acesso_cardspersonagem a img:hover{
    transform: translateY(-.5rem);
}

.acesso__cards2{
    display: flex;
    gap: .5rem;
}

.acesso__cards2 .acesso_cardspersonagem a img{
    text-decoration: none;
    transition: .3s;
}

.acesso__cards2 .acesso_cardspersonagem a img:hover{
    transform: translateY(.5rem);
}

.acesso__subtitulo{
    font-size: var(--h3-font-size);
    text-transform: uppercase;
    margin-top: var(--mb-0-5);
}

.avisos {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

#form_postagem span{
    font-weight: var(--font-semi-bold);
}

.div-form input{
    box-shadow: 0 5px 10px rgba(31,43,58,.40);
    border: 1px solid #dbdfea;
    border-radius: 8px;
    width: 600px;
    padding: 8px;
    font-size: 15px;
    height: 40px;
    margin-bottom: var(--mb-1);
}

.div-form textarea{
    box-shadow: 0 5px 10px rgba(31,43,58,.40);
    border: 1px solid #dbdfea;
    border-radius: 8px;
    width: 600px;
    padding: 8px;
    font-size: 15px;
    margin-bottom: var(--mb-1);
}

.div-form button{
    display: inline-block;
    background-color: var(--primeira-cor);
    color: var(--titulo-cor);
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .3s;
}

.div-form button:hover{
    background-color: var(--primeira-cor-alt);
}

.publicacao {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #e5e9f2;
    border-radius: 8px;
    margin-bottom: var(--mb-0-5);
}

.char__titulo{
    margin-top: 150px;
}

.char__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.char__info img{
    height: 400px;
}

.footer{
    border-top: 1px solid #e5e9f2;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.footer__index{
    border-top: 1px solid #e5e9f2;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 4.5rem;
}
.footer__index p{
    color: #c01a11;
}
.footer p{
    color: #c01a11;
}

@media screen and (max-width: 425px){
    .containerLogin .divLogin{
        width: 65%;
    }
}
@media screen and (max-width: 1024px){
    .containerLogin .divLogin{
        width: 45%;
    }
}
@media screen and (max-width: 768px){
    .containerLogin .divLogin{
        width: 60%;
    }
}
@media screen and (max-width: 1024px){
    .containerCadastro .divCadastro{
        width: 45%;
    }
}
@media screen and (max-width: 768px){
    .containerCadastro .divCadastro{
        width: 60%;
    }
}

@media screen and (min-width : 767px) {
    body{
        margin: 0;
    }
    .nav__img,
    .nav__close,
    .nav__toggle{
        display: none;
    }
    .nav__list{
        flex-direction: row;
        column-gap: 3rem;
    }
    .nav__link{
        text-transform: initial;
        font-weight: var(--font-semi-bold);
    }
    .paginainicial__content{
        padding: 8rem 0 2rem;
    }
    .nav{
        height: 4.5rem;
    }
}

@media screen and (min-width:992px) {
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    .section__title{
        font-size: var(--h1-font-size);
        margin-bottom: 3rem;
    }
    .paginainicial__content{
        padding-top: 9rem;
        gap: 3rem;
    }
    .paginainicial__group{
        padding-top: 0;
    }
    .paginainicial__img{
        height: 400px;
        transform: translateY(-3rem);
    }
    .paginainicial__titulo{
        margin-bottom: var(--mb-1-5);
    }
    .paginainicial__descricao{
        margin-bottom: var(--mb-2-5);
    }
    .nav{
        height: 4.5rem;
    }
}

@media screen and (min-width: 1200px){
    .paginainicial__img{
        height: 420px;
    }
    .swiper-pagination{
        margin-top: var(--mb-2-5);
    }
    .nav{
        height: 4.5rem;
    }
    .containerCadastro{
        height: 90%;
    }
    .containerLogin{
        height: 90%;
    }
}